@import url(http://fonts.googleapis.com/css?family=Special+Elite|Merriweather);

html {
  box-sizing: border-box;
  font-family: "Merriweather", "Raleway", sans-serif;
}
* , *:before, *:after { 
	box-sizing: inherit;
}

header {
    position: fixed;
    top: 5%;
    width: 100%;
    padding: 0.5em;
    text-align: right;
}

nav {
    position: static;
    text-align: left;
    margin-top: 5em;
}

h1 {
    margin: 0px;
    color: #303030;
    font-weight: bold;
    letter-spacing: 0.3em;
    font-size: 2em;
    font-family:"Special Elite","Merriweather",sans-serif;
}

ul ul li {
    display: inline-block;
    padding: 0.3em;
}

li {
    list-style: none;
    margin: 0.2em;
}

a {
    color:#2d2b7e;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color:#45BF55;
}

figure {
    display: none;
}

figure img {
    opacity: 50%;
    border-radius: 5%;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.5em;
}

/* Not a smaller window or device */
@media (min-width: 600px) and (min-device-width: 400px) {
    html {
        height: 100%;
    }
	body {
        min-height: 100%;
	}
    header {
        top: 90%;
    }
	nav {
        position: fixed;
        bottom:4em;
        right: 1em;
        text-align: right;
	}
    figure {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 450px;
    }
}
