@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:700);

/* --- Global --- */
body {
  background: #fff;
  font-family: "Open Sans",sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a:hover { color: white; }
a, a:hover { 
  text-decoration: none; 
  transition: color 0.5s;
} 


/* --- Page structure --- */

#splash {
  color: white;
  background: #fff url(../images/hero-image.jpg) no-repeat center;
  background-size: cover;
  min-height: 550px;
}

#register {
  color: black;
  background: #fff url(../images/yellow-zig-zag.png) no-repeat center;
  font-weight: 300;
  height: 100%;
}

footer {
  color: #cccccc;
  border-top: 1px #efefef solid;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5rem;
  padding: 3rem 10rem 3rem 10rem;
  min-height: 30rem;
}

#down {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
}

hr {
  color: #e7e7e7;
  margin-bottom: 0;
}

hr.short {
  width: 13rem;
}

#register .right-arrow {
  display: none;
}

.float-right {
  float: right;
}


/* --- Headings --- */

h1 {
  color: white;
  font-weight: 700;
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  color: black;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0 2rem 0;
}
 
h3 {
  color: #c1c1c1;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.subhead {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;
}


/* --- Text --- */

#register p {
  font-size: 1.7rem;
  margin: 2rem 0 5rem 0;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

footer ul {
  margin: 0 0 4rem 0;
}

footer li {
  margin-bottom: 1rem;
  text-align: left;
}

#splash a { color: white; }
footer a { color: #cccccc; }
footer a:hover { color: #a4a4a4; }

#register-link {
  text-align: center;
  margin-top: 5rem;
}

  #register-button {
    border: 1px solid white;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 0;
    padding: 1rem 5rem 1rem 5rem;
  }

  #register-button:hover {
    color: #fffc81;
    border-color: #fffc81;
  }

mark {
  background-color: #fffc7f;
}

#total {
  color: black;
  margin-top: 0;
}

#total-price {
  font-weight: 700;
  text-align: right;
}


/* --- Navigation --- */
nav {
  margin: 2rem 0 2rem 0;
}

  nav ul {
    text-align: center;
    margin: 0;
  }

  #splash nav a {
    color: #a4a4a4;
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
  }

  #splash nav a:hover {
    color: #e0e0e0;
  }

  #splash nav li {
    display: inline-block;
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1.5em;
  }


/* --- Forms --- */

form {
  color: #a4a4a4;
  font-size: 1.5rem;
  font-weight: 400;
}

  #register-form input {
    background-color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #efefef;
  }

  .select {
    position: relative;
    display: inline-block;
  }

  .select select {
    color: #a4a4a4;
    outline: none;
    -webkit-appearance: none;
    background-color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #efefef;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  .select select:focus {
    border-bottom: 2px solid #efefef;
    box-shadow: 0 1px 1px #efefef inset, 0 0 8px #efefef;
  }

  .select-arrow {
    font-size: 1.8rem;
    font-weight: 300;
    position: absolute;
    right: 4rem;
    top: 50%;
    margin-top: -0.9rem;
    pointer-events: none;
  }

  div.submit {
    color: black;
    text-align: center;
  }

    div.submit button {
      background-color: #fffc81;
      border: none;
      font-size: 1.8rem;
      font-weight: 600;
      padding: 1rem 5rem 1rem 5rem;
    }

    div.submit button:hover {
      background-color: #cecb65;
    }

    div.submit span {
      font-size: 1.5rem;
      margin: 0 0 0 1rem;
    }

  #city {
    display: none;
  }

  #city .select {
    padding-right: 0.5rem;
    margin-top: -2rem;
  }

  .form-separator {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .form-separator hr {
    margin: 0;
  }


/* --- Extras --- */

.logo {
  font-family: "Open Sans Condensed",sans-serif;
  position: absolute;
  width: 5rem;
  height: 3rem;
  padding: 0;
  margin: -1.5rem 0 0 -2.5rem;
  top: 50%;
  left: 50%;
}

  .logo-container {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    padding: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
  }

  .logo-container-copyright {
    color: #d0d0d0;
    border: 0.4rem solid #d0d0d0;
    margin: 0 2rem 1rem 2rem;
  }

  #splash .logo-container-main {
    color: #fefd7f;
    border: 0.4rem solid #fefd7f;
    margin: 0 2rem 0 2rem;
  }

  #splash .logo-container-mobile {
    margin: auto;
    margin-bottom: 2rem;
  }

  #splash li.logo-container-main {
    display: none;
  }



/* --- Responsive --- */
@media screen and (min-width: 600px) {
  #splash nav li {
    vertical-align: middle;
  }

  #splash li.logo-container-main {
    display: inline-block;
  }

  .logo-container-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .subhead {
    padding: 0rem 3rem 0 3rem;
  }

  nav {
    margin-bottom: 4rem;
  }

  #down {
    margin-top: 8rem;
  }

    #down span:hover {
      color: #fffc81;
    }

  .form-group {
    margin-bottom: 3rem;
  }

  #register .right-arrow {
    display: inline;
    position: relative;
    color: #efefef;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    vertical-align: top;
    padding: 0;
  }

  #register .right-arrow span {
    position: absolute;
    margin-top: -4rem;
  }

  footer {
    padding: 5rem 5rem 0 4rem;
  }

  #copyright {
    border-left: 1px #efefef solid;
    min-height: 15rem;
  }
}


@media screen and (min-width: 992px) {
  #splash {
    height: 100vh;
  }

  h1 {
    font-size: 7rem;
  }

  .subhead {
    font-size: 2.2rem;
  }

  nav {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  #register {
    font-size: 2.5rem;
  }

  footer {
    margin-top: 7rem;
  }
}

